﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @using System.Web.Optimization
    <title>@ViewBag.Title - NCOC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--Bootstrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--Font Awesome-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--nprogress-->
    <link href="~/Content/nprogress.css" rel="stylesheet" />
    <!--bootstrap date range picker-->
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <!--Site CSS-->
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-dashcube" style="visibility:visible"></i> <span>Qaimaq ERP</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section active">
                            <ul class="nav side-menu">
                                <li><a href="@Url.Action("Index","Home")" ><i class="fa fa-cab"></i>Taxi</a></li>
                               <!-- <li>
                                    <a><i class="fa fa-line-chart"></i>Taxi <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Pipeline">Pipeline</a></li>
                                        <li><a href="/Project">Projects</a></li>
                                    </ul>
                                </li>-->
                                <li><a href="@Url.Action("Shuttles","Home")"><i class="fa fa-bus"></i>Shuttles</a></li>
                                <li><a href="@Url.Action("Routes","Home")"><i class="fa fa-map"></i>Routes</a></li>
                                <li><a href="@Url.Action("Analytics","Home")" ><i class="fa fa-cubes"></i>Analytics</a></li>
                                <!--<li>
                                    <a><i class="fa fa-file"></i>Documents <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Controller/Send">Send document</a></li>
                                        <li><a href="/Controller/Papers">My documents</a></li>
                                    </ul>
                                </li>-->
                                <!--<li><a href="/Controller/Stranica"><i class="fa fa-building"></i>Departments</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/Images/img.jpg">Altynay Kassimova
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="/Home/Profile">Profile</a></li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">4</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="/Images/img2.jpg" alt="Profile Image"></span>
                                            <span>
                                                <span>Alexandr Shapoval</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                New PO has been approved and recomended for next stage...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/Images/img2.jpg" alt="Profile Image"></span>
                                            <span>
                                                <span>Alexandr Shapoval</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                New PO has been approved and recomended for next stage...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/Images/img2.jpg" alt="Profile Image"></span>
                                            <span>
                                                <span>Alexandr Shapoval</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                New PO has been approved and recomended for next stage...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/Images/img2.jpg" alt="Profile Image"></span>
                                            <span>
                                                <span>Alexandr Shapoval</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                New PO has been approved and recomended for next stage...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a href="/Home/Profile">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            @RenderBody()
            <footer>
                <div class="pull-right">
                    HR Web system - Developed by <a href="https://qaimaq.com">Qaimaq</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function (mapOptions, mapContainer) {

            var mapObject = new google.maps.Map(mapContainer, mapOptions),
                route = null;


            function renderRoute(from, to) {
                var directionsService = new google.maps.DirectionsService(),
                    directionsRequest = {
                        origin: from,
                        destination: to,
                        travelMode: google.maps.DirectionsTravelMode.WALKING,
                        unitSystem: google.maps.UnitSystem.METRIC
                    };

                directionsService.route(directionsRequest, function (response, status) {
                    if (status !== google.maps.DirectionsStatus.OK) {
                        return $("#error").append("Unable to retrieve your route<br />");
                    }

                    route && route.setMap(null);

                    route = new google.maps.DirectionsRenderer({
                        map: mapObject,
                        directions: response
                    });
                });
            }


            $("#walking").click(function (event) {
                renderRoute(
                    { lat: 55.721838, lng: 37.595443 },
                    { lat: 55.901564, lng: 37.729379 }
                );
            });

            $("#driving").click(function (event) {
                renderRoute(
                    { lat: 55.840616, lng: 37.448766 },
                    { lat: 55.573020, lng: 37.626871 }
                );
            });

        })({
            zoom: 16,
            center: new google.maps.LatLng(53.8374829, 21.1518056),
            gestureHandling: 'cooperative',
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            zoomControl: true
        }, document.getElementById("map"));
    </script>
    <!--Fast Click-->
    <script src="~/Scripts/fastclick.js"></script>
    <!--nprogress-->
    <script src="~/Scripts/nprogress.min.js"></script>
    <!--chartjs-->
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <!--float js-->
    <script src="~/Scripts/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.time.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.stack.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.resize.min.js"></script>
    <!--float plugins-->
    <script src="~/Scripts/float plugins/jquery.flot.orderBars.js"></script>
    <script src="~/Scripts/float plugins/jquery.flot.spline.min.js"></script>
    <script src="~/Scripts/float plugins/curvedLines.js"></script>
    <script src="~/Scripts/gauge.min.js"></script>
    <script src="~/Scripts/bootstrap-progressbar.min.js"></script>
    <script src="~/Scripts/icheck.min.js"></script>
    <!--DateJS-->
    <script src="~/Scripts/datejs.js"></script>
    <!--bootstrap date range picker-->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!--Site JS-->
    <script src="~/Scripts/Site.js"></script>


</body>
</html>
