﻿
@{
    ViewBag.Title = "Index";
}

<h2>User information</h2>

<div class="right_col" role="main" style="min-height:3864px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-sx-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>"Form Design"</h2>
                    <small>different form element</small>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <table id="getUser"></table>
                    <div id="jqControls"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.10.0.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/user/crudUser.js"></script>
}