﻿
@{
    ViewBag.Title = "Index";
}

<div class="right_col" role="main" style="min-height:2227px;">
    <div class="page-title">
        <div class="title_left">
            <h3>Widgets</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_content">
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-caret-square-o-right"></i>
                            </div>
                            <div class="count">179</div>
                            <h3>Total users</h3>
                            <p>All users in company.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-comments-o"></i>
                            </div>
                            <div class="count">13</div>
                            <h3>New notifications</h3>
                            <p>New alerts today</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-sort-amount-asc"></i>
                            </div>
                            <div class="count">15</div>
                            <h3>New vehicle requests</h3>
                            <p>Total amount of new requests</p>
                        </div>
                    </div> 
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-check-square-o"></i>
                            </div>
                            <div class="count">13</div>
                            <h3>Empty cars</h3>
                            <p>Empty vehicles at the moment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        "Customers"
                        <small>different form element</small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <table id="customers"></table>
                    <div id="jqControls"></div>
                </div>
            </div>
        </div>
    </div>
</div>
