﻿
@{
    ViewBag.Title = "Index";
}

<div class="right_col" role="main" style="min-height:2227px;">
    <div class="page-title">
        <div class="title_left">
            <h3>Widgets</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_content">
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-caret-square-o-right"></i>
                            </div>
                            <div class="count">179</div>
                            <h3>Total users</h3>
                            <p>All users in company.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-comments-o"></i>
                            </div>
                            <div class="count">13</div>
                            <h3>New notifications</h3>
                            <p>New alerts today</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-sort-amount-asc"></i>
                            </div>
                            <div class="count">15</div>
                            <h3>New vehicle requests</h3>
                            <p>Total amount of new requests</p>
                        </div>
                    </div> 
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon">
                                <i class="fa fa-check-square-o"></i>
                            </div>
                            <div class="count">13</div>
                            <h3>Empty cars</h3>
                            <p>Empty vehicles at the moment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Taxi <small>Driver and cars information</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Driver Name</th>
                                <th>Car ID</th>
                                <th>Hours on route</th>
                                <th>Gas used</th>
                                <th>Orders completed</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">Jambyl Barbaev</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">A 987 kzo</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">12</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">24.2 l.</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">4<</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">free</a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">Rustam Baimagambetov</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">B 774 OIU</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">4</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">12 l</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">2</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">On order</a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">Jambyl Barbaev</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">A 987 kzo</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">12</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">24.2 l.</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">4</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">free</a></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">Rustam Baimagambetov</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">B 774 OIU</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">4</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">12 l.</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">2</a></td>
                                <td><a href="#" data-toggle="modal" data-target="#myModal">On order</a></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h3 class="modal-title">Information</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="panel-body">
                                        <div class="project_detail">
                                            <div class="col-sm-8">
                                                <p class="title">First name</p>
                                                <p>Jambyl</p>
                                                <p class="title">Last name</p>
                                                <p>Barbaev</p>
                                                <p class="title">Car ID</p>
                                                <p>A 987 kzo</p>
                                                <p class="title">Bio</p>
                                                <p>Some info</p>
                                            </div><div class="col-sm-4">
                                                <div class="img-rounded img-responsive">
                                                    <img src="~/Images/img2.jpg" />
                                                </div>
                                            </div>
                                            <br>
                                            <div class="col-md-8">


                                                <p class="title">Car</p>
                                                <p>Honda Civic 2008</p>
                                                <p class="title">Driving experience</p>
                                                <p>5 years</p>
                                                <p class="title">Traffic violations</p>
                                                <p>Excessive speed - 14 july 2017</p>
                                                <p> . . . </p>


                                                <br>
                                                <h5>Driver files</h5>
                                                <ul class="list-unstyled project_files">
                                                    <li>
                                                        <a href=""><i class="fa fa-file-word-o"></i> Driver_docs.docx</a>
                                                    </li>

                                                </ul>
                                                <br>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="text-center mtop20">
                                                    <a href="#" class="btn btn-sm btn-primary" data-dismiss="modal">Close</a>

                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
                </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        "Taxi routes"
                        <small>Tracking</small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="col-xs-3">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active">
                                <a href="#home" data-toggle="tab" aria-expanded="false">Car №1</a>
                            </li>
                            <li class="">
                                <a href="#profile" data-toggle="tab" aria-expanded="true">Car №2</a>
                            </li>
                            <li class="">
                                <a href="#messages" data-toggle="tab" aria-expanded="false">Car №3</a>
                            </li>
                            <li class="">
                                <a href="#settings" data-toggle="tab" aria-expanded="false">Car №4</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-9">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d21723.398665349963!2d51.84441377605525!3d47.11034515935241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d47.119499999999995!2d51.837972199999996!4m3!3m2!1d47.1028404!2d51.8811702!5e0!3m2!1sru!2skz!4v1503794869251&z=11" width="800" height="600" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                            </div>
                            <div class="tab-pane" id="profile">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d21726.064437198962!2d51.8446450760431!3d47.10381355932989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m3!3m2!1d47.119499999999995!2d51.837972199999996!4m3!3m2!1d47.1028404!2d51.8811702!4m3!3m2!1d47.091532099999995!2d51.856558799999995!5e0!3m2!1sru!2skz!4v1503794987008" width="800" height="600" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                            </div>

                            <div class="tab-pane" id="messages"><iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d21728.183801043582!2d51.88386662603342!3d47.09862025931203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d47.1064333!2d51.866768799999996!4m3!3m2!1d47.1003415!2d51.9367783!5e0!3m2!1sru!2skz!4v1503795686439" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                            <div class="tab-pane" id="settings"><iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d21726.38302857348!2d51.867783476041595!3d47.1030329093272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d47.1171388!2d51.911890299999996!4m3!3m2!1d47.087284!2d51.8587612!5e0!3m2!1sru!2skz!4v1503795712011" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </div>
            
            </div>
        </div>
    </div>

